{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block scripts %}
<style>

.arrow {
height:auto;
width:20%;
}
.otree-body {
/*max-width:100%;
background-image: url("{% static "wood.jpg" %}");*/

}

.page-header {
    padding-top: 20px;
}

div h4{
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #000000;
}

#box1, #box2{
    position:relative;
    display: inline-block;
    width:160px;
    left:250px;
    padding:20px;
    margin:10px;
    border: 1px solid black;
    text-align:center;
    border-radius: 10px;
}

#box3 {

    position:relative;
    width:325px;
    left:250px;
    padding:20px;
    border: 0px solid black;
    text-align:center;
}

#box11, #box21{
    position:relative;
    display: inline-block;
    width:auto;
    border: 0px solid black;

}

#super_box{
    position:relative;
    bottom:00px;
    width:900px;
    left: 50px;
    height:300px;
    padding:10px;
    background-color: #ffffff;
    border: 0px solid black;
    border-radius: 30px;

}

div.transbox{
margin:30px;
margin-left:60px;
margin-right:60px;
padding:30px;
background-color: #ffffff;
border: 0px solid black;
border-radius: 10px;
opacity:0.6;
filter: alpha(opacity=60); /* For IE8 and earlier */
}
#next_button {
    position:relative;
    bottom:0px;
    left:43%;
}

</style>

<script>
    function sharingdecision(ciao){
        document.getElementById("id_share_decision").value= ciao;
    }

    function get_value_form(sharedecision) {
      document.getElementById("id_share_decision").value = sharedecision;
    }


</script>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div align="center"><h4>Score Finale</h4></div>

<div id="super_box">
<div id="box1">
    <div id="box10">
        <b>Points Cumulés</b>
    </div>
    <div id="box11">
        {{ cumulated_score }}
    </div>
</div>
<div id="box2">
    <div id="box20">
        <b>Rang Finale</b>
    </div>
    <div id="box21">
        {{ rank }}
    </div>
</div>
<div id="box3">
        Merci pour avoir participé à cette expérience.
    <!--Info sur le payment:-->
</div>
    <button id="next_button" class="btn btn-primary btn-large" onclick="sharingdecision(-1)">Suivant</button>
</div>
{% endblock %}


